# Станция
power_limit 50
max_wait 3
distribution uniform
selection first_fit
tick 0.25
mode limited 40

# charger <разъём> <мощность, кВт>
charger CCS_COMBO 50
charger TYPE2 22

# car <разъёмы> <ёмкость, кВт·ч> <старт, %> <цель, %> <мощность, кВт> <такт прибытия>
car CCS_COMBO,TYPE2 60 20 80 50 0
car TYPE2 40 50 90 11 1
car TYPE2 30 10 60 7 2
car CHADEMO 40 30 80 50 3
